<%- include('../partials/header.ejs') %>

<h3>Oreder summary!</h3>

<div class="table">

<table>
  <thead>
    <tr>
      <th scope="col">Number of orders:</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <% user.products.forEach((product) => { %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> <%= product.title %>  </td>
      <td> <%= product.price %>  </td>
<% }) %>
    </tr>

  </tbody>
</table>
</div>
  <% let total = 0 %>
<% for (let i = 0; i < user.products.length; i++) { %>
  <% total += user.products[i].price %>
  <% } %>

<% let tax = 10 %>
  <div class="totalAmount">
    <td>Tax</td><output class="total" name="tax"> <%= tax = tax * total / 100%> </output>
  </div>
  <div class="totalAmount">
    <td>Total</td><output class="total" name="total"> <%= total + tax %> </output>
  </div>

  <form class="" action="/checkouts/thankyou" method="POST">

    <button class="btn btn-primary" type="submit" >Complete Purchase</button>

  </form>





<%- include('../partials/footer.ejs') %>
