<%- include('../partials/header.ejs') %>

<h3>Welcome!</h3>

<% products.forEach((product) => { %>
  <p> Buyer - <%= product.user.username %> </p>
  <p> Product - <%= product.title %> </p>
  <p> price - <%= product.price %> </p>
<% }) %>







<%- include('../partials/footer.ejs') %>
