<%- include('../partials/header.ejs') %>

	
	<h2>Edit Account </h2> 
	<small>* (required field)</small>
	<small><p style="color: darkred"> <%= message %> </p></small>
	<form method="POST" action="/users/<%= user.id %>?_method=PUT">
		<fieldset>
			<small>
				<div> 
					<label for="username">*Username: </label>
					<input 
						type="text" 
						name="username" 
						id="username" 
						value="<%= user.username %>" 
						placeholder="username"
						required
					>
				</div>
				<div>
					<label for="password">*Password: </label>
					<input 
						type="password" 
						name="password" 
						id="password" 
						value="<%= user.password %>" 
						placeholder="password"
						required
					>
				</div>
				<div>
					<label for="firstName">*First Name: </label>
					<input 
						type="text" 
						name="firstName" 
						id="firstName" 
						value="<%= user.firstName %>"
						placeholder="first name"
						required 
					>
				</div>
				<div>
					<label for="lastName">Last Name: </label>
					<input 
						type="text" 
						name="lastName" 
						id="lastName" 
						<% if (user.lastName) { -%>
							value="<%= user.lastName %>"
						<% } else { -%>
							placeholder="last name"
						<% } -%>
					>
				</div>
				<button>Save and Submit Changes</button>
			</small>
		</fieldset>
	</form>
	<small>
		<div class="adminControls">				
			<% if (user.id === currentUser) { -%>
					<br>
					<b>Admin Controller</b>
					<br>
					
					<a href="/users/<%= user.id %>/edit">Edit your Account</a>
					
					<form method="POST" action="/users/<%= user.id %>?_method=DELETE">
						<button id="deleteButton">Delete Account</button>
					</form>
			<% } else { -%>
				
			<% } -%>
		</div>
	</small>

<%- include('../partials/footer.ejs') %>