<%- include('../partials/header.ejs') %>


  <h3>All products displayed by seller: <%= user.username %></h3>
  <ul>
    <% products.forEach((product) => { %>
      <li>
        <a class="subtags" href="/products/<%= product.id %>"> <%= product.title %></a>

        <br>

        <output> Selling price: $<%= product.price %> </output>
        <output> (Posted on: <%= product.posted.toDateString() %>) </output>
      </li>
      <li>
        <p> <%= product.description %> </p>
        <hr>
      </li>
      <li>
        <img class="productImg"src="/products/<%=product.id %>/img"></p>
      </li>
    <% }) %>
  </ul>

<%- include('../partials/footer.ejs') %>
