<%- include('../partials/header.ejs') %>


<form method="POST" action="/users/<%= userId %>?_method=DELETE">
  <fieldset>

    <table class="profile" >
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name: </td>
          <td><%= user.firstName %></td>
        </tr>

        <tr>
          <td>Last Name: </td>
          <td><%= user.lastName %></td>
        </tr>

        <tr>
          <td>Email:</td>
          <td><%= user.email %></td>
        </tr>

        <tr>
          <td>Address: </td>
          <td><%= user.address %></td>
        </tr>


      </tbody>
    </table>
    <small>
    We'll never share your information with anyone else.
    </small>
    <br>
    <a class="updateProfile btn btn-outline-primary" href="/users/<%= userId %>/updateProfile">Update your Profile</a>
    <br>

    <small>
    Deleting your account will remove all your products and information.
    </small>
    <br>
    <button class="btn btn-outline-primary">Delete Account</button>



















<!-- <div class="form-group">
  <label for="firstname">First Name:</label>
  <output name="firstName"><%= user.firstName %></output>

</div>

<div class="form-group">
  <label for="lastname">Last Name:</label>
  <output name="lastName"><%= user.lastName %></output>
</div>

<div class="form-group">
  <label for="email">Email:</label>
  <output name="email"><%= user.email %></output>

</div>

<div class="form-group">
  <label for="address">Your address:</label>
  <output name="address"><%= user.address %></output>
</div>

</fieldset>

<small>
We'll never share your information with anyone else.
</small>
<br>

<a href="/users/<%= userId %>/updateProfile">Update your Profile</a>

<br>


    <button class="btn btn-primary">Delete Account</button>
    <br>
    <small>
    Deleting your account will remove all your products and information.
    </small>

</form>
 -->

<%- include('../partials/footer.ejs') %>
