<%- include('../partials/header.ejs') %>


<form method="POST" action="/users/<%= userId %>?_method=DELETE">
  <fieldset>
<div class="form-group">
  <label for="firstname">First Name:</label>
    <p> <%= user.firstName %></p>

</div>

<div class="form-group">
  <label for="lastname">Last Name:</label>
  <p> <%= user.lastName %></p>
</div>

<div class="form-group">
  <label for="email">Your email:</label>
    <p> <%= user.email %></p>

</div>

<div class="form-group">
  <label for="address">Your address:</label>
    <p> <%= user.address %></p>
</div>

</fieldset>

<small>
We'll never share your information with anyone else.
</small>
<br>

<a href="/users/<%= userId %>/updateProfile">Update your Profile</a>

<br>


    <button class="btn btn-primary">Delete Account</button>
    <br>
    <small>
    Deleting your account will remove all your products and information.
    </small>

</form>


<%- include('../partials/footer.ejs') %>
