<%- include('../partials/header.ejs') %>


<form method="POST" action="/users/<%= userId %>?_method=DELETE">
  <fieldset>

    <table class="profile" >
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name: </td>
          <td><%= user.firstName %></td>
        </tr>

        <tr>
          <td>Last Name: </td>
          <td><%= user.lastName %></td>
        </tr>

        <tr>
          <td>Email:</td>
          <td><%= user.email %></td>
        </tr>

        <tr>
          <td>Address: </td>
          <td><%= user.address %></td>
        </tr>


      </tbody>
    </table>

    <a class="btn btn-outline-primary" href="/users/<%= userId %>/updateProfile">Update your Profile</a>
    <br>
    <small>
    We'll never share your information with anyone else.
    </small>

    <br>

    <button class="deleteProfile btn btn-outline-primary">Delete Account</button>
    <br>
    <small>
    Deleting your account will remove all your products and information.
    </small>


<%- include('../partials/footer.ejs') %>
