<%- include('../partials/header.ejs') %>

  <h3>Welcome to ez-buy</h3>

	<%  products.forEach((product) => { %>

      <img class="productImg" src="<%= product.productImage %> ">
      	<p>
      		<a href="./products/<%= product.id %>">
      	<%= 	product.title %></a> </p>
    	<p> <%= product.price %> </p>
    	<p> <%= product.description %> </p>

	<%  }) %>

<%- include('../partials/footer.ejs') %>


