<%- include('../partials/header.ejs') %>

  <h3>Welcome to ez-buy</h3>

	<%  products.forEach((product) => { %>

      <img src="<%= product.productImage %> ">
      <p> <%= product.title %> </p>
    	<p> <%= product.price %> </p>
    	<p> <%= product.description %> </p>

	<%  }) %>

<%- include('../partials/footer.ejs') %>
