<%- include('../partials/header.ejs') %>

  <h3>Welcome to ez-buy</h3>

  <p class="successMessage" > <%= message %> </p>

	<%  products.forEach((product) => { %>

      	<img class="productImg" src="<%= product.productImage %>">
      		<p>
      		<a href="./products/<%= product.id %>">
      		<%= 	product.title %></a> </p>
    		<p> Price - $<%= product.price %> </p>
        <p> Seller - <%= product.user.username %> </p>
    		<p><%= product.description.substring(0, 100) + "....."%>
			<a href="/products/<%= product.id %>">Read More</a>
			</p>

      <form method="POST" action="/checkouts/select/<%= product.id %>">

    <button class="btn btn-success">Add to cart</button>
    </form>

		<%  }) %>


<%- include('../partials/footer.ejs') %>
