<%- include('../partials/header.ejs') %>
    <h6>ez-buy</h6>
    <h5>BUY AND SELL ANY PRODUCT IN MINUTES!</h5>

    <p class="successMessage">
        <%= message %>
    </p>

    <%  products.forEach((product) => { %>
        <div class="square">
            <div class="productCard">

                <img class="productImg" src="<%= product.productImage %>">

                <p>
                    <a href="./products/<%= product.id %>">
                        <%= 	product.title %>
                    </a>
                </p>

                <p class="subs" >
                    <%= product.description.substring(0, 100) + "....."%>
                        <a class="subtags" href="/products/<%= product.id %>">Read More</a>
                </p>

                <form method="POST" action="/checkouts/select/<%= product.id %>">
                    <button class="add btn btn-success">Add to cart</button>
                </form>
                <div class="price">
                  Only $ <%= product.price %>
                </div>

            </div>
        </div>
        <%  }) %>

            <%- include('../partials/footer.ejs') %>
