<%- include('../partials/header.ejs') %>



  <h3>Show page for <%= product.title %></h3>

    <img class="productImg" src="/<%= product.productImage %> ">

    <p> seller:  <%= product.user.username %> </p>

    <p> Posted on <%= product.posted %>  </p>

    <p> Price is $<%= product.price %> </p>
    <p> <%= product.description %> </p>



    <form method="POST" action="/products/<%= product.id %>?_method=DELETE">

      <%  if (userId == product.user.id) { %>
              <button class="btn btn-primary">Delete</button> %>
              <a href="/products/<%= product.id %>/edit">
            Update the product!</a>
      <%  } %>

    </form>

<h4 id="review" > * Review this product *</h4>
<form method="POST" action="/reviews/<%= product.id %>">
  <fieldset>
    <div class="name" >
      <input class="name" id="name" type="text" name="name" placeholder="your name">
    </div>
    <div class="text" >
      <textarea  class="text" id="text" name="text" rows="4" cols="50" placeholder="type your review here"></textarea>

    </div>
  </fieldset>
  <button class="btn btn-outline-primary btn-sm">Add Review</button>
</form>




  <ul class="reviews" >
    <% product.reviews.forEach((review) => { %>
      <li>
        <strong> <%= review.name %> </strong>
        <br>
        <%= review.date.toDateString() %>
        <br>
        <%=review.text%>
            <br />

      </li>
    <% }) %>
  </ul>








<%- include('../partials/footer.ejs') %>
