<%- include('../partials/header.ejs') %>



  <h3>Show page for <%= product.title %></h3>

    <img class="productImg" src="/<%= product.productImage %> ">
    <p> <%= product.price %> </p>
    <p> <%= product.description %> </p>











<%- include('../partials/footer.ejs') %>
