<%- include('../partials/header.ejs') %>



  <h3>Show page for <%= product.title %></h3>

    <img class="productImg" src="/<%= product.productImage %> ">

    <p> seller:  <%= product.user.username %> </p>

    <p> Posted on <%= product.posted %>  </p>

    <p> Price is $<%= product.price %> </p>
    <p> <%= product.description %> </p>



    <form method="POST" action="/products/<%= product.id %>?_method=DELETE">

      <%  if (userId == product.user.id) { %>
              <button class="btn btn-primary">Delete</button> %>
              <a href="/products/<%= product.id %>/edit">
            Update the product!</a>
      <%  } %>

    </form>

<h4>See All reviews about this product</h4>
<form method="POST" action="/reviews/<%= product.id %>">
  <fieldset>
    <div>
      <label for="name">Your name:</label>
      <input id="name" type="text" name="name" placeholder="your name">
    </div>
    <div>
      <label for="text">Your review:</label>
      <input id="text" type="text" name="text" placeholder="type your review here">
    </div>
  </fieldset>
  <button class="btn btn-outline-primary btn-sm">Add Review</button>
</form>




  <ul>
    <% product.reviews.forEach((review) => { %>
      <li>
        <small><%= review.name %> @ <%= review.date %></small>
        <br />
        <%=review.text%>
      </li>
    <% }) %>
  </ul>








<%- include('../partials/footer.ejs') %>
